.reSearchMovie,
.reSearchTv,
.upComingMovie,
.upComingTv {
    display: flex;
    overflow-x: auto;
}
.section > div {
    min-height: 370px; 
}
.movie {
    border: 1px solid black;
    min-width: 200px;
    min-height: 300px;
    margin: 5px;
}
.upComing {
    background-color: #eee;
}
.search {
    display: none;
    background-color: #ccc;
}
.movie > *:not(img){
    display: none;
}
.movie:hover img{
    display: none;
}
.movie:hover *:not(img) {
    display: block;
}
.movie:hover .star {
    display: flex;
}
.movie:hover .original_language {
    display: block;
}
.hide {
    display: none;
}
.show {
    display: block;
}
