.container,
.upComingMovie,
.containerTv {
    display: flex;
    overflow-x: auto;
}
.section {
    min-height: 610px;
}
.movie {
    border: 1px solid black;
    margin: 5px;
    min-width: 350px;
    min-height: 500px;
}
.movie img {
    width: 100%;
    height: 100%;
}
.movie > *:not(img){
    display: none;
}
.movie:hover img{
    display: none;
}
.movie:hover *:not(img) {
    display: block;
}
.movie:hover .star {
    display: flex;
}
.movie:hover .original_language {
    display: block;
}
.hide {
    display: none;
}
.show {
    display: block;
}
